OOP/Lab2/src/main/resources/gems.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gems">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="gem" minOccurs="1" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="preciousness"/>
              <xs:element type="xs:string" name="origin"/>
              <xs:element name="visual_parameters">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="color"/>
                    <xs:element type="xs:int" name="transparency"/>
                    <xs:element type="xs:int" name="cutting"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:int" name="value"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>